name: Next.js Deploy to 16.112.156.200-Server

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Connect to Ubuntu Server and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: 16.112.156.200
          username: ubuntu
          key: ${{ secrets.AWS_PRIVATE_KEY  }}
          port: 22
          script: |
            # Step 1: Deploy the app
            cd /home/ubuntu/mahada-poc
            git reset --hard HEAD
            git clean -fd
            git pull origin main
            # Step 2: Write .env file from secret
            #echo "${{ secrets.AZURE_ENV_FILE  }}" > /home/runtimedev/AuFinja-Frontend/.env
            npm install
            npm run build
            pm2 restart poc
          
         
